@media(min-width: 1200px) {
    .container {
        margin: 0 auto;
        max-width: 95%;
    }
}
@media(min-width: 576px) and (max-width: 1199px) {
    .container {
        margin: 0 auto;
        max-width: 95%;
    }
}
.font-weight-600
{
    font-weight: 600;
}
.main-color
{
    color: #1d2f97;
}
.second-color
{
    color: #007bff;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active
{
    background-color: #0E183C !important;
    border-color: #0E183C !important;
    outline: none;
    box-shadow: none;
}

.image-full-width-container
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 9999;
    transform: scale(0);
    transition: .3s;
    opacity: 0;
}
.image-full-width-container.show
{
    transform: scale(1);
    opacity: 1;
}
.image-full-width-container .image
{
    max-width: 100%;
}



/*Start section_1*/
.section_1 .inner-box
{
    box-shadow: 0px 0px 10px #ddd;
}
.section_1 .owl-carousel .owl-item img
{
    padding: .1rem;
}
.section_1 .owl-carousel .owl-nav button.owl-prev
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    background: rgba(0,0,0,.5);
    width: 30px;
    height: 100%;
    color: #fff;
}
.section_1 .owl-carousel .owl-nav button.owl-next
{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    background: rgba(0,0,0,.5);
    width: 30px;
    height: 100%;
    color: #fff;
}


.section_1 .main-images
{
    position: relative;
    
}
.section_1 .icon
{
    width: 21px;
}
.section_1 .main-images .image
{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: .3s;
}
.section_1 .main-images .image.active
{
    position: relative;
    transform: translateX(0);
}
.section_1 .main-images .image.active ~ .image
{
    transform: translateX(100%);
}
.section_1 .main-images .image .inner-img
{
    height: 100%;
    object-fit: cover;
}
.section_1 .main-images .full-width
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: rgba(0,0,0,.5);
    width: 50px;
    opacity: 0;
    transition: .2s;
}
.section_1 .main-images:hover .full-width
{
    opacity: 1;
}
.section_1 .list-item
{
    border-bottom: 1px solid #ddd;
}
.section_1 .list-item:last-of-type
{
    border-bottom: none;
}
.section_1 .principal-buttons .chev-right
{
    width: 10px;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}
.section_1 .secondary-buttons .btn
{
    background-color: #007bff;
}
.section_1 .secondary-buttons .icon
{
    width: 15px;
}
/*End section_1*/

/*Start section_2*/
.section_2 .list_item
{
    border-bottom: 1px solid #ddd;
}
.section_2 .list_item:last-of-type
{
    border-bottom: none;
}
.section_2 .title
{
    background-color: #e8e8e8;
    color: #4a4a49;
}
.section_2 .nav-tabs .nav-link
{
    background-color: #1e2f97;
    color: #fff;
    margin-right: .3rem;
}
.section_2 .nav-tabs .nav-link.active
{
    background-color: #e8e8e8;
    color: #4a4a49;
}
@media (max-width: 767px) {
    .section_2 .nav-tabs .nav-link
    {
        font-size: .76rem;
        margin-right: 0;
    }
}
/*End section_2*/

/*Start section_3*/
.section_3 .image
{
    height: 150px;
}
.section_3 .image img
{
    height: 100%;
    object-fit: cover;
}
@media (min-width: 992px) {
    .section_3 .card
    {
        height: 100%;
    }
}
/*End section_3*/