@media(min-width: 1200px) {
    .container {
        margin: 0 auto;
        max-width: 95%;
    }
}
@media(min-width: 576px) and (max-width: 1199px) {
    .container {
        margin: 0 auto;
        max-width: 95%;
    }
}

.font-weight-600
{
    font-weight: 600;
}
.main-color
{
    color: #1d2f97;
}
.second-color
{
    color: #007bff;
}
.gray-color
{
    color: #8c8d8e;
}
.font-weight-500
{
    font-weight: 500;
}
button,
button:hover,
button:active,
input:hover,
input:focus,
input:active,
select:hover,
select:focus,
select:active
{
    border-color: transparent;
    box-shadow: none !important;
    outline: none;
}
.pointer
{
    cursor: pointer;
}


.light-color
{
    color: #42aded;
}
.dark-color
{
    color: #1d2f97;
}

.find-car 
{
    background-color: #efefef;
}
.find-car .top-content .pagination .arrow-btn .arrow
{
    display: block;
    width: 10px;
    color: #a9a9a9;
}
.find-car .top-content .arrow-btn
{
    width: 35px;
    height: 35px;
}
.find-car .top-content .pagination .arrow-btn.active .arrow
{
    color: #1d2f97;
}
.find-car .top-content .pagination .text
{
    color: #989898;
    font-weight: 500;
    font-size: .8rem;
}

.find-car .top-content .input-btn
{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4adede;
    color: #262c6a;
    z-index: 99;
}
.find-car .top-content .select-container .arrow-down
{
    position: absolute;
    top: 50%;
    right: 0;
    width: 35px;
    transform: translateY(-50%);
    background-color: #4adede;
    height: 100%;
    pointer-events: none;
}
.find-car .top-content .select-container .arrow-down .icon
{
    width: 50%;
    color: #1d2f97;
}
.find-car .main-content .card-title:hover
{
    color: #1d2f97;
}
.find-car .main-content .fav-icon
{
    width: 25px;
}
.find-car .main-content .flag
{
    width: 22px;
}
.font-lg
{
    font-size: 1.2rem;
}
.find-car .owl-carousel .owl-nav
{
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
}
.find-car .owl-carousel .owl-nav button.owl-next,
.find-car .owl-carousel .owl-nav button.owl-prev,
.find-car .owl-carousel button.owl-dot
{
    font-size: 4rem;
    color: #fff;
}

.find-car .owl-carousel .owl-nav button.owl-next span,
.find-car .owl-carousel .owl-nav button.owl-prev span,
.find-car .owl-carousel .owl-nav button.owl-next:hover,
.find-car .owl-carousel .owl-nav button.owl-prev:hover,
.find-car .owl-carousel .owl-nav button.owl-next:focus,
.find-car .owl-carousel .owl-nav button.owl-prev:focus
{
    outline: none;
    border: none;
}
.find-car .main-content .imgs-num
{
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 9;
}
.find-car .main-content .imgs-num .camera-icon
{
    width: 20px;
}
@media(max-width: 767px) {
    .h5
    {
        font-size: 1.2rem;
    }
    .font-lg
    {
        font-size: 1.1rem;
    }
}


select::-ms-expand {
    display: none;
}

.find-car .filter-box
{
    border: .3rem solid #f7f7f5;
}
.find-car .custom-select
{
    background-image: url("../imgs/find-car/chevron-down-solid.svg");
    background-size: .8rem;
    border-width: 2px;
    cursor: pointer;
}
.find-car .custom-select:hover,
.find-car .custom-select:focus,
.find-car .custom-select:active
{
    border: 2px solid #ddd;
}
/*
.find-car .custom-select:focus,
.find-car .custom-select:active,
*/
.find-car .filter-section select.selected
{
    border: 2px solid #1d2f97;
}
.find-car .range-box input
{
    width: 50%;
    border: 0;
    color: #333;
    font-weight: 500;
}
.find-car .range-box input:nth-of-type(2)
{
    text-align: right;
}
.find-car .top-options .icon
{
    width: 15px;
}
.find-car .top-options button,
.find-car .top-options button:focus
{
    outline: none !important;
}

.find-car .filter-title
{
    font-size: .9rem;
    color: #aaa;
    font-weight: 500;
}
.find-car .filter-section .filter-chevron
{
    width: 15px;
    transition: .4s;
}
.find-car .filter-section .collapsed .filter-chevron
{
    transform: rotate(-90deg);
}
.find-car .filter-section .result-found
{
    color: #333;
}
.find-car .filter-section .linkedToMake,
.find-car .filter-section .linkedToModel
{
    display: none;
}
.find-car .filter-section .linkedToMake.active,
.find-car .filter-section .linkedToModel.active
{
    display: block;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
{
    border-radius: 50%;
    cursor: pointer;
}
.ui-slider
{
    border: 0;
}
.ui-slider .ui-widget-header
{
    top: 40%;
    transform: translateY(-50%);
    background-color: #42aded;
}
.ui-widget.ui-widget-content
{
    border: none;
    background-color: #ddd;
    height: .3rem;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:focus
{
    outline: none;
}
.ui-slider .ui-slider-handle.ui-state-active
{
    background: #42aded;
    border: #42aded;
}
.ui-slider-horizontal .ui-slider-handle
{
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    box-shadow: 0 0 0px 7px rgb(66,174,237, 0.5);
    background: #42aded;
    border: #42aded;
}